workflows/Chatbot Data Retrieval.json
{
  "name": "Chatbot Data Retrieval",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "4a22611c-1189-4059-9a14-276235f20a31",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "books",
          "mode": "list",
          "cachedResultName": "books"
        },
        "prompt": "={{ $json.query }}",
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "bd8067b8-8938-4570-b161-7e921a386d4d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ESWAVfE7HQWhYuT3",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        208
      ],
      "id": "e3b61662-a495-4d05-ae10-995a680229df",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "itnGPY13JuzjZurT",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd8737b5-482f-479a-ae08-2a4f0f9aa212",
              "name": "Content",
              "value": "={{ $json.document.pageContent }}",
              "type": "string"
            },
            {
              "id": "72ca8408-a247-434a-a421-863f83db2181",
              "name": "Filename",
              "value": "={{ $json.document.metadata['Document ID'] }}",
              "type": "string"
            },
            {
              "id": "257e6f92-9896-4502-8e04-902cb1e3432e",
              "name": "URL",
              "value": "={{ $json.document.metadata['Document URL'] }}",
              "type": "string"
            },
            {
              "id": "d931c699-3940-4b30-ad37-2d793d6e5a43",
              "name": "Page Number",
              "value": "={{ $json.document.metadata['loc.pageNumber'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "dd310903-250b-4418-b2ce-fb76a4d8b553",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "c5f30da9-731f-426b-a470-5fa6d5c7ffcb",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a42f593-812b-433e-9e46-c460852f7284",
              "name": "response",
              "value": "={{ $json.toJsonString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        0
      ],
      "id": "5e5659ce-18ea-4600-8872-b09ab0e5d827",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "coins"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "db75e9a4-c7b0-40f3-b426-f47402bfe64a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6397fcd6643f5c8a4a1f0e4620a2c275024f4aad1826c9def9c01fc84b05db38"
  },
  "id": "hvsfTZunjLtqsWhl",
  "tags": []
}